.header{
  
  background-color: aqua;

}

.login{
  margin-left: 90%;
  text-align: center;
  align-items:center ;
  background-color: red;
}

.events_posts{
  background-color: red;
  margin-top: 10%;
}

.App{
  background-color: blanchedalmond;
  flex:1;
  height: 100%;
}